.arfat-1{
    font-family: 'Poppins', sans-serif;
    color: orange;
    margin-top: 100px;
    font-size: 50px;
}
.arfat-2{
    font-family: 'Poppins', sans-serif;
    color: orange;
    margin-top: 40px;
    font-size: 20px;
}
#arif-2{
    font-size: 30px;
}